<a href="https://colab.research.google.com/github/Shahad-Mohammed/NLP/blob/main/Sentment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import nltk as nltk
import re

from nltk.tokenize import word_tokenize
nltk.download('punkt')

from nltk.corpus import stopwords
nltk.download('stopwords')

from nltk.stem.snowball import SnowballStemmer

from nltk import pos_tag
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
pd.set_option('display.max_colwidth', 500)   # set the column width in the output to 500 charachters

# Load and Explor Data

In [ ]:

# read talbat reviews only the first  32073 rows.
# .iloc to delete the first and last column
reviews_df = pd.read_csv("https://drive.google.com/u/0/uc?id=1DrtPc0NLOv7hvIxlyCuFiQZIudSeeFy4&export=download", nrows=32073).iloc[: , 1:-1]

# rename the columns
reviews_df.columns = ['description','rating']

In [ ]:
reviews_df.head()

,description,rating
0,Ø±Ø§Ø¦Ø¹,1
1,Ø¨Ø±Ù†Ø§Ù…Ø¬ Ø±Ø§Ø¦Ø¹ Ø¬Ø¯Ø§ ÙŠØ³Ø§Ø¹Ø¯ Ø¹Ù„Ù‰ ØªÙ„Ø¨ÙŠÙ‡ Ø§Ù„Ø§Ø­ØªÙŠØ§Ø¬Ø§Øª Ø¨Ø´ÙƒÙ„ Ø§Ø³Ø±Ø¹,1
2,Ø§Ù„ØªØ·Ø¨ÙŠÙ‚ Ù„Ø§ ÙŠØºØªØ­ Ø¯Ø§Ø¦Ù…Ø§ Ø¨ÙŠØ¹Ø·ÙŠÙ†ÙŠ Ù„Ø§ ÙŠÙˆØ¬Ø¯ Ø§ØªØµØ§Ù„ Ø¨Ø§Ù„Ø´Ø¨ÙƒØ©..Ù…Ø¹ Ø§Ù†Ù‡ Ø§Ù„Ù†Øª Ø¹Ù†Ø¯ÙŠ ØªÙ…Ø§Ù… Ø´Ùˆ Ø§Ù„Ø­Ù„??,-1
3,Ù„Ù…Ø§Ø°Ø§ Ù„Ø§ ÙŠÙ…ÙƒÙ†Ù†Ø§ Ø·Ù„Ø¨ Ù…Ù† Ù…Ø§ÙƒØ¯ÙˆÙ†Ø§Ù„Ø¯Ø²ØŸ,-1
4,Ø§Ù„Ø¨Ø±Ù†Ø§Ù…Ø¬ Ø¨ÙŠØ¸Ù‡Ø± ÙƒÙ„ Ø§Ù„Ù…Ø·Ø§Ø¹Ù… Ùˆ Ù…ØºÙ„Ù‚Ù‡ Ù…Ø¹ Ø§Ù†Ù‡Ø§ Ø¨ØªÙƒÙˆÙ† ÙØ§ØªØ­Ù‡ Ø¨Ù‚Ø§Ù„Ù‡ ÙƒØ¯Ù‡ Ø§ÙƒØªØ± Ù…Ù† Ø´Ù‡Ø±,-1

In [ ]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32073 entries, 0 to 32072
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  32072 non-null  object
 1   rating       32073 non-null  int64
dtypes: int64(1), object(1)
memory usage: 501.3+ KB

In [ ]:
reviews_df.rating.value_counts()

 1    19894
-1    10697
 0     1482
Name: rating, dtype: int64

# Remove Nan Values

In [ ]:
reviews_df.isnull().value_counts()

description  rating
False        False     32072
True         False         1
dtype: int64

In [ ]:
# Remove Null values
reviews_df.dropna(inplace=True)

# Remove Neutral  Rating

In [ ]:
reviews_df = reviews_df[reviews_df['rating'] != 0]

reviews_df.rating.value_counts()

 1    19894
-1    10696
Name: rating, dtype: int64

# Data Cleaning

In [ ]:
punctuation_re = '[?ØŸ!Ùª,ØŒ@#$%&*â‚¬+-Â£_~\â€œÌ¯/=><.\Û°):Ø›}{Ã·%("\'ÙÙ‹ÙÙŒÙÙÙ‘Ù’Ù -Ù©]'

emoji_re = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642"
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
        "]+", flags=re.UNICODE)


stopwordsArabic = set(stopwords.words('arabic')) - set(['Ù„Ø§', 'Ù…Ø§', 'Ø¥Ù„Ø§', 'Ù„ÙŠØ³', 'Ù„Ù†', 'Ù„Ù…', 'Ø¯ÙˆÙ†', 'ØºÙŠØ±', 'Ù„Ø³Øª'])
stopwordsArabic.update('Ø¬Ø¯Ø§', 'Ø§Ù„Ù„Ù‡', 'ÙˆØ§Ù„Ù„Ù‡', 'ÙÙ‚Ø·', 'ØµØ±Ø§Ø­', 'Ø§Ù†Ø§', 'Ø§Ùˆ')
stemmer = SnowballStemmer("arabic")

In [ ]:
def clean_text(text):

  # remove punct
  no_punc = re.sub(punctuation_re, ' ', text)

  # remove duplicated letters
  no_duplicate = re.sub(r'([\u0600-\u06FF])\1+', r'\1', no_punc)

  # remove non arabic letters and emojis
  no_english = re.sub(r'[a-zA-Z?]', ' ', no_duplicate)
  # re.sub(r'[^0-9\u0600-\u06ff\u0750-\u077f\ufb50-\ufbc1\ufbd3-\ufd3f\ufd50-\ufd8f\ufd50-\ufd8f\ufe70-\ufefc\uFDF0-\uFDFD.0-9]+', ' ', no_duplicate)

  # tokenize
  tokens = nltk.word_tokenize(no_english)

  #Stemming
  stemmedWords = [stemmer.stem(word) for word in tokens]

  return ' '.join(stemmedWords)

In [ ]:
reviews_df['clean_text'] = reviews_df['description'].apply(lambda x: clean_text(x))
reviews_df.head()

,description,rating,clean_text
0,Ø±Ø§Ø¦Ø¹,1,Ø±Ø§ÙŠØ¹
1,Ø¨Ø±Ù†Ø§Ù…Ø¬ Ø±Ø§Ø¦Ø¹ Ø¬Ø¯Ø§ ÙŠØ³Ø§Ø¹Ø¯ Ø¹Ù„Ù‰ ØªÙ„Ø¨ÙŠÙ‡ Ø§Ù„Ø§Ø­ØªÙŠØ§Ø¬Ø§Øª Ø¨Ø´ÙƒÙ„ Ø§Ø³Ø±Ø¹,1,Ø±Ù†Ø§Ù…Ø¬ Ø±Ø§ÙŠØ¹ Ø¬Ø¯Ø§ ÙŠØ³Ø§Ø¹Ø¯ Ø¹Ù„Ù‰ ØªÙ„Ø¨ Ø§Ø­ØªÙŠØ§Ø¬ Ø´ÙƒÙ„ Ø§Ø³Ø±Ø¹
2,Ø§Ù„ØªØ·Ø¨ÙŠÙ‚ Ù„Ø§ ÙŠØºØªØ­ Ø¯Ø§Ø¦Ù…Ø§ Ø¨ÙŠØ¹Ø·ÙŠÙ†ÙŠ Ù„Ø§ ÙŠÙˆØ¬Ø¯ Ø§ØªØµØ§Ù„ Ø¨Ø§Ù„Ø´Ø¨ÙƒØ©..Ù…Ø¹ Ø§Ù†Ù‡ Ø§Ù„Ù†Øª Ø¹Ù†Ø¯ÙŠ ØªÙ…Ø§Ù… Ø´Ùˆ Ø§Ù„Ø­Ù„??,-1,ØªØ·Ø¨ÙŠÙ‚ Ù„Ø§ ÙŠØºØªØ­ Ø¯Ø§ÙŠÙ… ÙŠØ¹Ø· Ù„Ø§ ÙŠÙˆØ¬Ø¯ Ø§ØªØµØ§Ù„ Ø´Ø¨Ùƒ Ù…Ø¹ Ø§Ù†Ù‡ Ø§Ù„Ù†Øª Ø¹Ù†Ø¯ ØªÙ…Ø§Ù… Ø´Ùˆ Ø§Ù„Ø­Ù„
3,Ù„Ù…Ø§Ø°Ø§ Ù„Ø§ ÙŠÙ…ÙƒÙ†Ù†Ø§ Ø·Ù„Ø¨ Ù…Ù† Ù…Ø§ÙƒØ¯ÙˆÙ†Ø§Ù„Ø¯Ø²ØŸ,-1,Ù„Ù…Ø§Ø° Ù„Ø§ ÙŠÙ…Ùƒ Ø·Ù„Ø¨ Ù…Ù† Ù…Ø§ÙƒØ¯ÙˆÙ†Ø§Ù„Ø¯Ø²
4,Ø§Ù„Ø¨Ø±Ù†Ø§Ù…Ø¬ Ø¨ÙŠØ¸Ù‡Ø± ÙƒÙ„ Ø§Ù„Ù…Ø·Ø§Ø¹Ù… Ùˆ Ù…ØºÙ„Ù‚Ù‡ Ù…Ø¹ Ø§Ù†Ù‡Ø§ Ø¨ØªÙƒÙˆÙ† ÙØ§ØªØ­Ù‡ Ø¨Ù‚Ø§Ù„Ù‡ ÙƒØ¯Ù‡ Ø§ÙƒØªØ± Ù…Ù† Ø´Ù‡Ø±,-1,Ø¨Ø±Ù†Ø§Ù…Ø¬ ÙŠØ¸Ù‡Ø± ÙƒÙ„ Ù…Ø·Ø§Ø¹Ù… Ùˆ Ù…ØºÙ„Ù‚ Ù…Ø¹ Ø§Ù†Ù‡ ØªÙƒÙˆ ÙØ§ØªØ­ Ù‚Ø§Ù„ ÙƒØ¯Ù‡ Ø§ÙƒØªØ± Ù…Ù† Ø´Ù‡Ø±

# Remove Empty Reviews(Rows)

In [ ]:
reviews_df.rating.value_counts()

 1    19894
-1    10696
Name: rating, dtype: int64

In [ ]:
reviews_df = reviews_df[reviews_df.astype(str)['clean_text'] != '[]']
reviews_df.rating.value_counts()

 1    19894
-1    10696
Name: rating, dtype: int64

# Make Balanced Data

In [ ]:
reviews_df = reviews_df.sort_values(by=['rating'])

In [ ]:
reviews_df = reviews_df[:-9000]
reviews_df.rating.value_counts()

 1    10894
-1    10696
Name: rating, dtype: int64

In [ ]:
reviews_df = reviews_df.reset_index(drop=True)
reviews_df

,description,rating,clean_text
0,ÙƒØ§Ù† Ø¹Ù†Ø¯ÙŠ Ø®ØµÙ… 50 Ø¬Ù†ÙŠØ© Ùˆ Ù„Ù…Ø§ Ø¬ÙŠØª Ø§Ø·Ù„Ø¨ Ù…Ø®ØµÙ…Ù„ÙŠØ´ Ø­Ø§Ø¬Ø© Ùˆ ÙÙŠ Ø¶Ø±ÙŠØ¨Ø© 25 Ø¬Ù†ÙŠØ© Ø§Ù†Ø§ ÙƒÙ†Øª Ø¹Ø§Ù…Ù„ Ø­Ø³Ø§Ø¨ÙŠ Ø£Ù† Ø¨Ø¹Ø¯ Ø§Ù„Ø®ØµÙ… Ù‡ÙŠØ¨Ù‚ÙŠ 140 Ø¬Ù†ÙŠØ© Ø¨Ø³ Ù…ÙƒÙ†Ø´ ÙÙŠ Ø®ØµÙ… Ùˆ Ø§Ù„ØªØ·Ø¨ÙŠÙ‚ ÙƒØ§Ù† Ù‚Ø§Ø¦Ù„ÙŠ Ø£Ù† ÙÙŠ Ø®ØµÙ… Ù…Ø®ØµÙ…Ù„ÙŠØ´ Ø­Ø§Ø¬Ø© Ùˆ ÙƒÙ…Ø§Ù† ÙÙŠ Ø¶Ø±ÙŠØ¨Ø© 25 Ø¬Ù†ÙŠØ© Ùˆ ØªÙˆØµÙŠÙ„ 10 Ø¬Ù†ÙŠØ© Ø·Ù„Ø¹ Ø§Ù„Ø­Ø³Ø§Ø¨ 220,-1,ÙƒØ§Ù† Ø¹Ù†Ø¯ Ø®ØµÙ… Ø¬Ù† Ùˆ Ù„Ù…Ø§ Ø¬ÙŠØª Ø§Ø·Ù„Ø¨ Ù…Ø®ØµÙ…Ù„ÙŠØ´ Ø­Ø§Ø¬ Ùˆ ÙÙŠ Ø¶Ø±ÙŠØ¨ Ø¬Ù† Ø§Ù†Ø§ ÙƒÙ†Øª Ø¹Ø§Ù…Ù„ Ø­Ø³Ø§Ø¨ Ø£Ù† Ø¨Ø¹Ø¯ Ø®ØµÙ… Ù‡ÙŠØ¨Ù‚ Ø¬Ù† Ø¨Ø³ Ù…ÙƒÙ†Ø´ ÙÙŠ Ø®ØµÙ… Ùˆ ØªØ·Ø¨ÙŠÙ‚ ÙƒØ§Ù† Ù‚Ø§ÙŠÙ„ Ø£Ù† ÙÙŠ Ø®ØµÙ… Ù…Ø®ØµÙ…Ù„ÙŠØ´ Ø­Ø§Ø¬ Ùˆ ÙƒÙ…Ø§ ÙÙŠ Ø¶Ø±ÙŠØ¨ Ø¬Ù† Ùˆ ØªÙˆØµÙŠÙ„ Ø¬Ù† Ø·Ù„Ø¹ Ø­Ø³Ø§Ø¨
1,ØªØ·Ø¨ÙŠÙ‚ ÙƒØ§Ù† Ø§ÙØ¶Ù„ ÙˆÙ…Ù† Ø¬Ø¯ÙŠØ¯ Ø§Ù„ØªÙˆØµÙŠÙ„ Ø¨Ø·ÙŠØ¡ Ø¬Ø¯Ø§,-1,ØªØ·Ø¨ÙŠÙ‚ ÙƒØ§Ù† Ø§ÙØ¶Ù„ ÙˆÙ…Ù† Ø¬Ø¯ÙŠØ¯ ØªÙˆØµÙŠÙ„ Ø·ÙŠØ¡ Ø¬Ø¯Ø§
2,Ø³ÙŠ Ø¬Ø¯Ø§Ù‹,-1,Ø³ÙŠ Ø¬Ø¯Ø§
3,ØªØ·Ø¨ÙŠÙ‚ ØºÙŠØ± Ù…ÙÙŠØ¯ Ù„Ø³ÙƒØ§Ù† Ø§Ù„Ø´Ø±ÙˆÙ‚ Ù„Ø§Ù†Ù‡ Ù„Ø§ ÙŠÙˆØ¬Ø¯ ÙÙŠÙ‡ ØºÙŠØ± Ù¤ Ø³ÙˆØ¨Ø±Ù…Ø§Ø±ÙƒØª ÙˆØ¯Ø§Ø¦Ù…Ø§ Ù…Ø´ØºÙˆÙ„ÙŠÙ†,-1,ØªØ·Ø¨ÙŠÙ‚ ØºÙŠØ± Ù…ÙÙŠØ¯ Ù„Ø³ÙƒØ§ Ø´Ø±ÙˆÙ‚ Ù„Ø§Ù† Ù„Ø§ ÙŠÙˆØ¬Ø¯ ÙÙŠÙ‡ ØºÙŠØ± Ø³ÙˆØ¨Ø±Ù…Ø§Ø± Ø¯Ø§ÙŠÙ… Ù…Ø´ØºÙˆÙ„
4,Ø¨Ø±Ù†Ø§Ù…Ø¬ ÙŠÙ‚Ø±Ù ØµØ±Ø§Ø­Ù‡ Ø±Ø¨Ù†Ø§,-1,Ø±Ù†Ø§Ù…Ø¬ ÙŠÙ‚Ø±Ù ØµØ±Ø§Ø­ Ø±Ø¨Ù†
...,...,...,...
21585,Ø§Ù„Ø¨Ø±Ù†Ø§Ù…Ø¬ Ø¬ÙŠØ¯ Ø¬Ø¯Ø§ Ù…Ù…ØªØ§Ø² Ù‡Ùˆ ÙŠÙˆØµÙ„ Ø§Ù„Ø·Ù„Ø¨ ÙÙŠ Ù…Ø¹Ø§Ø¯ Ù…Ø¸Ø¨ÙˆØ·,1,Ø¨Ø±Ù†Ø§Ù…Ø¬ Ø¬ÙŠØ¯ Ø¬Ø¯Ø§ Ù…ØªØ§Ø² Ù‡Ùˆ ÙŠÙˆØµÙ„ Ø·Ù„Ø¨ ÙÙŠ Ù…Ø¹Ø§Ø¯ Ù…Ø¸Ø¨ÙˆØ·
21586,I love you pink,1,
21587,Ø¬ÙŠØ¯ Ø¬Ø¯Ø§.. Ù„ÙƒÙ† ÙÙŠ Ù…Ø´ÙƒÙ„Ø© Ù„Ø§ÙŠØ¸Ù‡Ø± Ù„ÙŠ Ø§Ù„Ø§Ø®ÙŠØ§Ø±Ø§Øª Ù…Ø­Ø¯ÙˆØ¯Ø© Ù…Ø«Ù„Ø§ Ø³Ø§Ù…Ø­ Ù…ÙˆÙ„ ÙˆÙƒØ±ÙŠÙ… Ù…ÙˆÙ„ ÙˆØ³ÙŠÙÙˆÙŠ ØºÙŠØ± Ù…ÙˆØ¬ÙˆØ¯ ÙˆØ§Ù†Ø§ Ø¨Ø­Ø§Ø¬Ø§Ù‡Ù… ÙÙŠ Ù‡Ø°Ø§ Ø§Ù„ØªØ·Ø¨ÙŠÙ‚ Ù„Ø§ÙŠØ¸Ù‡Ø± Ù„ÙŠ Ø§Ù„Ø§ ÙƒÙ… Ù…Ø·Ø¹Ù… ÙˆØ®Ù…Ø³ Ù…Ø­Ù„Ø§Øª Ø­Ù„ÙˆÙŠØ§Øª ÙÙ‚Ø· ÙˆÙ…Ø­Ù…ØµÙŠÙ† ÙÙ‚Ø· Ù„Ø§ØºÙŠØ± Ø§Ø±Ø¬Ùˆ Ø­Ù„ Ø§Ù„Ù…Ø´ÙƒÙ„Ø© Ø¶Ø±ÙˆØ±ÙŠ Ø¬Ø¯Ø§,1,Ø¬ÙŠØ¯ Ø¬Ø¯Ø§ Ù„ÙƒÙ† ÙÙŠ Ù…Ø´ÙƒÙ„ Ø§ÙŠØ¸Ù‡Ø± Ù„ÙŠ Ø§Ø®ÙŠØ§Ø± Ù…Ø­Ø¯ÙˆØ¯ Ù…Ø«Ù„ Ø³Ø§Ù…Ø­ Ù…ÙˆÙ„ ÙƒØ±ÙŠÙ… Ù…ÙˆÙ„ Ø³ÙŠÙ ØºÙŠØ± Ù…ÙˆØ¬ÙˆØ¯ ÙˆØ§Ù† Ø­Ø§Ø¬ ÙÙŠ Ù‡Ø°Ø§ ØªØ·Ø¨ÙŠÙ‚ Ø§ÙŠØ¸Ù‡Ø± Ù„ÙŠ Ø§Ù„Ø§ ÙƒÙ… Ù…Ø·Ø¹Ù… Ø®Ù…Ø³ Ù…Ø­Ù„ Ø­Ù„Ùˆ ÙÙ‚Ø· Ù…Ø­Ù…Øµ ÙÙ‚Ø· Ø§ØºÙŠØ± Ø§Ø±Ø¬ Ø­Ù„ Ù…Ø´ÙƒÙ„ Ø¶Ø±ÙˆØ± Ø¬Ø¯Ø§
21588,Ø­Ù„Ùˆ ğŸ—£ï¸,1,Ø­Ù„Ùˆ ğŸ—£ï¸
21589,Ù„ÙƒÙ„ Ø§Ù„Ù†Ø§Ø³ Ø§Ù„ÙŠ Ø¨Ø­ÙƒÙˆ Ø³ÙŠØ¡ Ù‡Ø°Ø§ Ø§Ù„ØªØ·Ø¨ÙŠÙ‚ Ø¬ÙŠØ¯ Ø¬Ø¯Ø§,1,Ù„ÙƒÙ„ Ù†Ø§Ø³ Ø§Ù„ Ø¨Ø­Ùƒ Ø³ÙŠØ¡ Ù‡Ø°Ø§ ØªØ·Ø¨ÙŠÙ‚ Ø¬ÙŠØ¯ Ø¬Ø¯Ø§

# Extract Features

## using TFIDF

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [ ]:
tdidf_vect= TfidfVectorizer()
tdidf = tdidf_vect.fit_transform(reviews_df['clean_text'])


features_tdidf = pd.DataFrame(tdidf.toarray())
features_tdidf.columns = tdidf_vect.get_feature_names_out()
features_tdidf

,Â²Â¹Â³,Â²Ø´,ÃŸÃ£Å¡Ø³,Ã¹Å¯,ÄÄŸÄ«ÄŸ,Î·Î¾,Î¹Î´Î­Î±,Î½Î±,Ñ€Ñ‰Ğ¹,ÑŒĞ¸Ğ¸ÑŒ,...,ï»Ÿï»´ïº¶,ï»£ïºï»›ï»®,ï»µØ­Ù‚,ï»·ÙƒÙ„,ï»·Ù†Ù‡,ï»»Ø²Ù…,ï»»ÙƒÙ†,ï»»ÙŠØªÙ…,ï»»ÙŠØ¸Ù‡Ø±,ï»»ÙŠÙˆØ¬Ø¯
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21586,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21589,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# count_vect= CountVectorizer()
# count = count_vect.fit_transform(reviews_df['clean_text'])


# features_count_vect = pd.DataFrame(count.toarray())
# features_count_vect.columns = count_vect.get_feature_names_out()
# features_count_vect

## Other Features

### Type of emojies

In [ ]:
def extractEmoji(text):
  return str(set([char for char in text if re.match(emoji_re, char)]))

reviews_df['type_of_emoji'] = reviews_df['description'].apply(lambda x: extractEmoji(x))

tdidf_e = TfidfVectorizer()
tdidf = tdidf_e.fit_transform(reviews_df['type_of_emoji'])
number_of_emoji = pd.DataFrame(tdidf.toarray())
number_of_emoji.columns = tdidf_e.get_feature_names_out()

### Number of Words

In [ ]:
reviews_df['number_of_words'] = reviews_df['description'].apply(lambda x: len(x.split(" ")))

### Number of Punctuation

In [ ]:
def count(text):
  count = sum([1 for char in text if char in ['!', '?', 'ØŸ']])
  return count

reviews_df['number_of_?!'] = reviews_df['description'].apply(lambda x: count(x))

# print(reviews_df['number_of_?!'].value_counts())

# reviews_df[reviews_df['rating'] == -1].describe()

# reviews_df.head(1000)

### Number of Emojis

In [ ]:
def count(x):
  count = sum([1 for i in x if re.match(emoji_re, i)])
  return count

reviews_df['Number_of_emoji'] = reviews_df['description'].apply(lambda x: count(x))
reviews_df.head()

# reviews_df[reviews_df['count_emoji'] > 0].rating.value_counts()

,description,rating,clean_text,type_of_emoji,number_of_words,number_of_?!,Number_of_emoji
0,ÙƒØ§Ù† Ø¹Ù†Ø¯ÙŠ Ø®ØµÙ… 50 Ø¬Ù†ÙŠØ© Ùˆ Ù„Ù…Ø§ Ø¬ÙŠØª Ø§Ø·Ù„Ø¨ Ù…Ø®ØµÙ…Ù„ÙŠØ´ Ø­Ø§Ø¬Ø© Ùˆ ÙÙŠ Ø¶Ø±ÙŠØ¨Ø© 25 Ø¬Ù†ÙŠØ© Ø§Ù†Ø§ ÙƒÙ†Øª Ø¹Ø§Ù…Ù„ Ø­Ø³Ø§Ø¨ÙŠ Ø£Ù† Ø¨Ø¹Ø¯ Ø§Ù„Ø®ØµÙ… Ù‡ÙŠØ¨Ù‚ÙŠ 140 Ø¬Ù†ÙŠØ© Ø¨Ø³ Ù…ÙƒÙ†Ø´ ÙÙŠ Ø®ØµÙ… Ùˆ Ø§Ù„ØªØ·Ø¨ÙŠÙ‚ ÙƒØ§Ù† Ù‚Ø§Ø¦Ù„ÙŠ Ø£Ù† ÙÙŠ Ø®ØµÙ… Ù…Ø®ØµÙ…Ù„ÙŠØ´ Ø­Ø§Ø¬Ø© Ùˆ ÙƒÙ…Ø§Ù† ÙÙŠ Ø¶Ø±ÙŠØ¨Ø© 25 Ø¬Ù†ÙŠØ© Ùˆ ØªÙˆØµÙŠÙ„ 10 Ø¬Ù†ÙŠØ© Ø·Ù„Ø¹ Ø§Ù„Ø­Ø³Ø§Ø¨ 220,-1,ÙƒØ§Ù† Ø¹Ù†Ø¯ Ø®ØµÙ… Ø¬Ù† Ùˆ Ù„Ù…Ø§ Ø¬ÙŠØª Ø§Ø·Ù„Ø¨ Ù…Ø®ØµÙ…Ù„ÙŠØ´ Ø­Ø§Ø¬ Ùˆ ÙÙŠ Ø¶Ø±ÙŠØ¨ Ø¬Ù† Ø§Ù†Ø§ ÙƒÙ†Øª Ø¹Ø§Ù…Ù„ Ø­Ø³Ø§Ø¨ Ø£Ù† Ø¨Ø¹Ø¯ Ø®ØµÙ… Ù‡ÙŠØ¨Ù‚ Ø¬Ù† Ø¨Ø³ Ù…ÙƒÙ†Ø´ ÙÙŠ Ø®ØµÙ… Ùˆ ØªØ·Ø¨ÙŠÙ‚ ÙƒØ§Ù† Ù‚Ø§ÙŠÙ„ Ø£Ù† ÙÙŠ Ø®ØµÙ… Ù…Ø®ØµÙ…Ù„ÙŠØ´ Ø­Ø§Ø¬ Ùˆ ÙƒÙ…Ø§ ÙÙŠ Ø¶Ø±ÙŠØ¨ Ø¬Ù† Ùˆ ØªÙˆØµÙŠÙ„ Ø¬Ù† Ø·Ù„Ø¹ Ø­Ø³Ø§Ø¨,set(),52,0,0
1,ØªØ·Ø¨ÙŠÙ‚ ÙƒØ§Ù† Ø§ÙØ¶Ù„ ÙˆÙ…Ù† Ø¬Ø¯ÙŠØ¯ Ø§Ù„ØªÙˆØµÙŠÙ„ Ø¨Ø·ÙŠØ¡ Ø¬Ø¯Ø§,-1,ØªØ·Ø¨ÙŠÙ‚ ÙƒØ§Ù† Ø§ÙØ¶Ù„ ÙˆÙ…Ù† Ø¬Ø¯ÙŠØ¯ ØªÙˆØµÙŠÙ„ Ø·ÙŠØ¡ Ø¬Ø¯Ø§,set(),8,0,0
2,Ø³ÙŠ Ø¬Ø¯Ø§Ù‹,-1,Ø³ÙŠ Ø¬Ø¯Ø§,set(),2,0,0
3,ØªØ·Ø¨ÙŠÙ‚ ØºÙŠØ± Ù…ÙÙŠØ¯ Ù„Ø³ÙƒØ§Ù† Ø§Ù„Ø´Ø±ÙˆÙ‚ Ù„Ø§Ù†Ù‡ Ù„Ø§ ÙŠÙˆØ¬Ø¯ ÙÙŠÙ‡ ØºÙŠØ± Ù¤ Ø³ÙˆØ¨Ø±Ù…Ø§Ø±ÙƒØª ÙˆØ¯Ø§Ø¦Ù…Ø§ Ù…Ø´ØºÙˆÙ„ÙŠÙ†,-1,ØªØ·Ø¨ÙŠÙ‚ ØºÙŠØ± Ù…ÙÙŠØ¯ Ù„Ø³ÙƒØ§ Ø´Ø±ÙˆÙ‚ Ù„Ø§Ù† Ù„Ø§ ÙŠÙˆØ¬Ø¯ ÙÙŠÙ‡ ØºÙŠØ± Ø³ÙˆØ¨Ø±Ù…Ø§Ø± Ø¯Ø§ÙŠÙ… Ù…Ø´ØºÙˆÙ„,set(),14,0,0
4,Ø¨Ø±Ù†Ø§Ù…Ø¬ ÙŠÙ‚Ø±Ù ØµØ±Ø§Ø­Ù‡ Ø±Ø¨Ù†Ø§,-1,Ø±Ù†Ø§Ù…Ø¬ ÙŠÙ‚Ø±Ù ØµØ±Ø§Ø­ Ø±Ø¨Ù†,set(),4,0,0

In [ ]:
# [reviews_df['number_of_words'], reviews_df['number_of_?!'], reviews_df['Number_of_emoji'],

# Machine Learning Model

## Final Features

In [ ]:
labels = reviews_df['rating']
# , reviews_df['number_of_words'], reviews_df['number_of_?!'], number_of_emoji
features = pd.concat( [features_tdidf], axis=1)
features.shape

(21590, 13666)

## Split data

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.25)

print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(16192, 13666) (5398, 13666) (16192,) (5398,)

## Selection Method

### Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_jobs=-1)
model.fit(x_train, y_train)
print(model.score(x_test, y_test))

0.8525379770285291

### Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
NBmodel = GaussianNB()
NBmodel.fit(x_train, y_train)
print(NBmodel.score(x_test, y_test))

0.6798814375694702

In [ ]:
from sklearn.naive_bayes import MultinomialNB
NBmodel = MultinomialNB()
NBmodel.fit(x_train, y_train)
print(NBmodel.score(x_test, y_test))

0.8547610226009633

### SVC

In [ ]:
from sklearn import model_selection, naive_bayes, svm

SVM_model = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto')
SVM_model.fit(x_train, y_train)
print(SVM_model.score(x_test, y_test))

0.867728788440163